@model IEnumerable<SocialNetwork.Domain.User>

@{
    ViewBag.Title = "User";
}

<h2>User</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fullname)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserRole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserDepartment)
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(item.Image))
                {
                    <img src="@Url.Content(item.Image)" alt="Image" style="width: 80px;height:80px" />
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Gender.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserRole.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserDepartment.Name)
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.User_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.User_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.User_id })
            </td>
        </tr>
    }

</table>
